/* デフォルトの余白をリセット */
h1,
p,
body {
  margin: 0;
}

/* 記事内のp要素とa要素の文字サイズ */
article p,
article a {
  font-size: 20px;
}

/* headerのスタイル */
header {
  margin-bottom: 20px;
  background-color: rgb(244, 79, 79);
  text-align: center;
}

/* h1のスタイル */
h1 {
  color: rgb(255, 255, 255);
}

/* main全体のスタイル */
main {
  padding: 10px;
}

/* id名parentのスタイル */
#parent {
  display: flex;
  justify-content: space-between;
}

/* class名contentsのスタイル */
.contents {
  border: 3px solid rgb(238, 204, 204);
  flex-basis: 25%;
  padding: 10px 15px;
  margin: 20px 0;
  text-align: center;
}

/* h2のスタイル */
h2 {
  font-size: 25px;
  border-bottom: 3px dotted rgb(236, 122, 122);
}

/* h2の前に「●」を表示 */
h2::before {
  content: "●";
  color: rgb(239, 111, 139);
}

/* contents内の2番目のp要素の1文字目 */
.contents p:nth-of-type(2)::first-letter {
  font-weight: bold;
  color: rgb(97, 206, 249);
}

/* contents内のimgのスタイル */
.contents img {
  margin: 10px 0;
  width: 70%;
}

 /* footerのスタイル */
footer {
  background-color: rgb(244, 79, 79);
  text-align: center;
}

/* a要素のスタイル */
a {
  color: rgb(255, 255, 255);
}

/* 訪問済みリンク */
a:visited {
  color: rgb(193, 234, 251);
}

/* マウスカーソルが乗ったとき */
a:hover {
  color: rgb(245, 178, 168);
}

@media screen and (max-width: 768px) {
  /* h2の文字サイズ */
  h2 {
    font-size: 30px;
  }

  /* pの文字サイズ */
  p {
    font-size: 25px;
  }

  /* parent内の要素を縦並びにする */
  #parent {
    flex-direction: column;
  }
}